.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #0070f3;
  }

  p {
    font-size: 1.5rem;
    color: #666;
  }
}
